<html lang="en">
  <%-include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/nav.ejs") %>
    <div class="details">
      <img class="blog-image" src="<%=blog.image %>" alt="" />
      <h2><%= blog.title %></h2>
      <div class="content">
        <p><%=blog.body %></p>
      </div>
      <p>Updated : <%= new Date( blog.createdAt).toDateString() %></p>
      <div class="btns">
        <a
          class="btn delete"
          title="delete this blog"
          data-doc="<%=blog._id %>"
        >
          Delete</a
        >

        <a class="btn update" href="/blogs/update/<%=blog._id %>">Edit</a>
      </div>
    </div>
  </body>
  <%-include("../partials/footer.ejs") %>

  <script>
    // to delete blog
    const deleteBtn = document.querySelector("a.delete");
    deleteBtn.addEventListener("click", (e) => {
      const endpoint = `/blogs/${deleteBtn.dataset.doc}`;
      // to send delete request to /blogs/id
      fetch(endpoint, {
        method: "DELETE",
      })
        .then((response) => response.json())
        .then((data) => (window.location.href = data.redirect))
        .catch((err) => console.log(err));
    });
  </script>
</html>
